.image-container {
  position: relative;

  .image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wide {
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}
}
